<h1>Task Manager Application</h1>
<input type="text" placeholder="Task Name" [(ngModel)]="taskName" (change)='getTaskName($event)' required/>
<span ng-show="taskName.$invalid && taskName">
  </span>
<br>
<select [(ngModel)]="status" (change)='getStatus($event)'>
    <option>Not Started</option>
    <option>In progress</option>
    <option>Completed</option>
</select>
<br>
<button  (click)='onAddClick()'>Add</button>
<table style="border: 2px solid black">
    <thead>
        <tr>
            <th>Task Name  </th>
       
            <th>Status  </th>
       
            <th>Button
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of taskData" [ngClass]="{red : item.status=='Not Started', yellow : item.status=='In progress', green : item.status=='Completed'}">
            <td>{{item.taskName}}</td>
            <td>{{item.status}}</td>
            <td><button (click)='onDeleteButton(item.taskName)'>Delete</button></td>
        </tr>
    </tbody>
</table>
